<template>
  <div class="app-container">
    <el-form :model="queryParam" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
#foreach($column in $columnList)
#if($column.queryFlag=="1")
#set($dictType=$column.dictType)
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.htmlType == "input")
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-input
          v-model="queryParam.queryCond.${column.javaField}"
          placeholder="请输入${comment}"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
#elseif($column.htmlType == "number")
        <el-form-item label="${comment}" prop="${column.javaField}">
          <el-input_number
            v-model="queryParam.queryCond.${column.javaField}"
            placeholder="请输入${comment}"
            clearable
            size="small"
            @keyup.enter.native="handleQuery"
        />
    </el-form-item>
#elseif(($column.htmlType == "select" || $column.htmlType == "radio") && "" != $dictType)
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-select v-model="queryParam.queryCond.${column.javaField}" placeholder="请选择${comment}" clearable size="small">
          <el-option
            v-for="${column.javaField}Option in ${column.javaField}OptionList"
            :key="${column.javaField}Option.dictValue"
            :label="${column.javaField}Option.dictLabel"
            :value="${column.javaField}Option.dictValue"
          />
        </el-select>
      </el-form-item>
#elseif(($column.htmlType == "select" || $column.htmlType == "radio") && $dictType)
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-select v-model="queryParam.queryCond.${column.javaField}" placeholder="请选择${comment}" clearable size="small">
          <el-option label="请选择字典生成" value="" />
        </el-select>
      </el-form-item>
#elseif($column.htmlType == "datetime")
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-date-picker clearable size="small" style="width: 200px"
          v-model="queryParam.queryCond.${column.javaField}"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="选择${comment}">
        </el-date-picker>
      </el-form-item>
#end
#end
#end
      <el-form-item>
        <el-button type="cyan" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleAdd" v-hasPerm="['${moduleName}:${businessName}:add']">
            新增
        </el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="success" icon="el-icon-edit" size="mini" :disabled="single" @click="handleUpdate" v-hasPerm="['${moduleName}:${businessName}:update']">
            修改
        </el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="danger" icon="el-icon-delete" size="mini" :disabled="single" @click="handleDelete" v-hasPerm="['${moduleName}:${businessName}:delete']">
            删除
        </el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="get${BusinessName}List"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="${businessName}List" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
#foreach($column in $columnList)
#set($javaField=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.listFlag=="1")
#if($column.htmlType == "datetime")
      <el-table-column label="${comment}" align="center" prop="${javaField}" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.${javaField}, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
#elseif($column.dictType && "" != $column.dictType )
      <el-table-column label="${comment}" align="center" prop="${javaField}" :formatter="${javaField}Format" />
#elseif("" != $javaField)
      <el-table-column label="${comment}" align="center" prop="${javaField}" />
#end
#end
#end
      <el-table-column label="操作" align="center" class-name="small-paddingEnum fixed-width">
        <template slot-scope="scope">
          <el-button size="mini" type="text" icon="el-icon-edit" @click="handleUpdate(scope.row)" v-hasPerm="['${moduleName}:${businessName}:update']">
              修改
          </el-button>
          <el-button size="mini" type="text" icon="el-icon-delete" @click="handleDelete(scope.row)" v-hasPerm="['${moduleName}:${businessName}:delete']">
              删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>

      <!-- 分页 -->
      <pagination v-show="queryParam.pageTotal>0" :total-page="queryParam.pageTotal" :current-page.sync="queryParam.currentPage" :limit.sync="queryParam.pageSize" @pagination="get${BusinessName}List"/>

      <!-- 添加或修改${functionName}对话框 -->
    <el-dialog :title="dialogTitle" :visible.sync="openDialog" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
#foreach($column in $columnList)
#set($field=$column.javaField)
#if($column.editFlag=="1" && $column.pkFlag!="1")
#if(($column.usableColumn) || (!$column.superColumn))
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($dictType=$column.dictType)
#if($column.htmlType == "input")
        <el-form-item label="${comment}" prop="${field}">
          <el-input v-model="form.${field}" placeholder="请输入${comment}" />
        </el-form-item>
#elseif($column.htmlType == "number")
        <el-form-item label="${comment}" prop="${field}">
          <el-input-number v-model="form.${field}" controls-position="right" placeholder="请输入${comment}" />
        </el-form-item>
#elseif($column.htmlType == "editor")
        <el-form-item label="${comment}">
          <editor v-model="form.${field}" :min-height="192"/>
        </el-form-item>
#elseif($column.htmlType == "select" && "" != $dictType)
        <el-form-item label="${comment}" prop="${field}">
          <el-select v-model="form.${field}" placeholder="请选择${comment}">
            <el-option
              v-for="${field}Option in ${field}OptionList"
              :key="${field}Option.dictValue"
              :label="${field}Option.dictLabel"
              #if($column.javaType == "Integer" || $column.javaType == "Long"):value="parseInt(${field}Option.dictValue)"#else:value="${field}Option.dictValue"#end
            ></el-option>
          </el-select>
        </el-form-item>
#elseif($column.htmlType == "select" && $dictType)
        <el-form-item label="${comment}" prop="${field}">
          <el-select v-model="form.${field}" placeholder="请选择${comment}">
            <el-option label="请选择字典生成" value="" />
          </el-select>
        </el-form-item>
#elseif($column.htmlType == "checkbox" && "" != $dictType)
        <el-form-item label="${comment}">
          <el-checkbox-group v-model="form.${field}">
            <el-checkbox
              v-for="${field}Option in ${field}OptionList"
              :key="${field}Option.dictValue"
              :label="${field}Option.dictValue">
              {{${field}Option.dictLabel}}
            </el-checkbox>
          </el-checkbox-group>
        </el-form-item>
#elseif($column.htmlType == "checkbox" && $dictType)
        <el-form-item label="${comment}">
          <el-checkbox-group v-model="form.${field}">
            <el-checkbox>请选择字典生成</el-checkbox>
          </el-checkbox-group>
        </el-form-item>
#elseif($column.htmlType == "radio" && "" != $dictType)
        <el-form-item label="${comment}">
          <el-radio-group v-model="form.${field}">
            <el-radio
              v-for="${field}Option in ${field}OptionList"
              :key="${field}Option.dictValue"
              #if($column.javaType == "Integer" || $column.javaType == "Long"):label="parseInt(${field}Option.dictValue)"#else:label="${field}Option.dictValue"#end

            >{{${field}Option.dictLabel}}</el-radio>
          </el-radio-group>
        </el-form-item>
#elseif($column.htmlType == "radio" && $dictType)
        <el-form-item label="${comment}">
          <el-radio-group v-model="form.${field}">
            <el-radio label="1">请选择字典生成</el-radio>
          </el-radio-group>
        </el-form-item>
#elseif($column.htmlType == "datetime")
        <el-form-item label="${comment}" prop="${field}">
          <el-date-picker clearable size="small" style="width: 200px"
            v-model="form.${field}"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择${comment}">
          </el-date-picker>
        </el-form-item>
#elseif($column.htmlType == "textarea")
        <el-form-item label="${comment}" prop="${field}">
          <el-input v-model="form.${field}" type="textarea" placeholder="请输入内容" />
        </el-form-item>
#end
#end
#end
#end
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { select${ClassName}Page, detail${ClassName}, add${ClassName}, update${ClassName}, delete${ClassName} } from '@/api/${moduleName}/${businessName}'
#foreach($column in $columnList)
#if($column.insert && !$column.superColumn && !$column.pk && $column.htmlType == "editor")
import Editor from '@/components/Editor';
#break
#end
#end

export default {
  name: '${BusinessName}',
#foreach($column in $columnList)
#if($column.insert && !$column.superColumn && !$column.pk && $column.htmlType == "editor")
  components: { Editor },
#break
#end
#end
  data() {
    return {
      // 遮罩层
      loading: true,
      // 已选择的列表
      selectRowList: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // ${functionName}表格数据
      ${businessName}List: [],
      // 弹出层标题
      dialogTitle: '',
      // 是否显示弹出层
      openDialog: false,
#foreach ($column in $columnList)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.dictType && "" != $column.dictType )
      // $comment字典
      ${column.javaField}OptionList: [],
#end
#end
      // 查询参数
      queryParam: {
        pageTotal: 0,
        pageSize: 10,
        currentPage: 1,
        queryCond: {
#foreach ($column in $columnList)
#if($column.queryFlag=="1")
            $column.javaField: undefined,
#end
#end
        }
    },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
#foreach ($column in $columnList)
#if($column.requiredFlag=="1")
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
        $column.javaField: [
          { required: true, message: '$comment不能为空', trigger: #if($column.htmlType == "select")'change'#else'blur'#end }
        ],
#end
#end
      }
    }
  },
  created() {
    this.get${BusinessName}List()
#foreach ($column in $columnList)
#if($column.dictType && "" != $column.dictType )
    this.getDictDataByDictType('${column.dictType}').then(response => {
      this.${column.javaField}OptionList = response.data
    })
#end
#end
  },
  methods: {
    /** 查询${functionName}列表 */
    get${BusinessName}List() {
      this.loading = true
      select${ClassName}Page(this.queryParam).then(response => {
        this.queryParam.pageTotal = response.data.pageTotal
        this.${businessName}List = response.data.recordList
        this.loading = false
      })
    },
#foreach ($column in $columnList)
#if($column.dictType && "" != $column.dictType )
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
    // $comment字典翻译
    ${column.javaField}Format(row, column) {
      return this.handleDictLabel#if($column.htmlType == "checkbox")s#end(this.${column.javaField}OptionList, row.${column.javaField})
    },
#end
#end
    // 取消按钮
    cancel() {
      this.openDialog = false
      this.reset()
    },
    // 表单重置
    reset() {
      this.form = {
#foreach ($column in $columnList)
#if(!($column.javaField == "createUser" || $column.javaField == "createTime" || $column.javaField == "updateUser" || $column.javaField == "updateTime"))
#if($column.htmlType == "radio")
        $column.javaField: #if($column.javaType == "Integer" || $column.javaType == "Long")0#else'0'#end,
#elseif($column.htmlType == "checkbox")
        $column.javaField: [],
#else
        $column.javaField: undefined,
#end
#end
#end
      }
      this.resetForm('form')
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParam.pageNum = 1
      this.get${BusinessName}List()
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm('queryForm')
      this.handleQuery()
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.selectRowList = selection
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset()
      this.openDialog = true
      this.dialogTitle = '添加${functionName}'
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset()
      row = undefined === row.${pkColumn.javaField} ? this.selectRowList[0] : row
      detail${ClassName}(row.${pkColumn.javaField}).then(response => {
        this.form = response.data
#foreach ($column in $columnList)
#if($column.htmlType == "checkbox")
        this.form.$column.javaField = this.form.${column.javaField}.split(",")
#end
#end
        this.openDialog = true
        this.dialogTitle = '修改${functionName}'
      })
    },
    /** 提交按钮 */
    submitForm() {
      this.#[[$]]#refs.form.validate(valid => {
        if (valid) {
#foreach ($column in $columnList)
#if($column.htmlType == "checkbox")
          this.form.$column.javaField = this.form.${column.javaField}.join(",")
#end
#end
          if (this.form.${pkColumn.javaField} != null) {
              update${ClassName}(this.form).then(response => {
              this.messageSuccess('修改成功')
              this.openDialog = false
              this.get${BusinessName}List()
            })
          } else {
              add${ClassName}(this.form).then(response => {
              this.messageSuccess('新增成功')
              this.openDialog = false
              this.get${BusinessName}List()
            })
          }
        }
      })
    },
    /** 删除按钮操作 */
    handleDelete(row) {
#foreach($column in $columnList)
#if($column.listFlag=="1")
#set($javaField=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#break
#end
#end
      row = undefined === row.${pkColumn.javaField} ? this.selectRowList[0] : row
      this.$confirm('请确认是否删除${comment}为《' + row.$javaField + '》的数据项?', '警告', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          return delete${ClassName}(row.${pkColumn.javaField})
        }).then(() => {
          this.get${BusinessName}List()
          this.messageSuccess('删除成功')
        })
    }
  }
}
</script>
