package ${packageName}.mapper.${moduleName};

import com.jeeagile.frame.annotation.AgileMapper;
#if($tableType=="tree")
#set($BaseMapper="AgileBaseTreeMapper")
#elseif($tableType=="crud")
#set($BaseMapper="AgileBaseMapper")
#end
import ${packageName}.entity.${moduleName}.${ClassName};
/**
 * @author ${author}
 * @date ${datetime}
 * @description ${functionName} Mapper接口
 */
@AgileMapper
public interface ${ClassName}Mapper extends ${BaseMapper}<${ClassName}> {

}
