package ${packageName}.service.${moduleName};

import ${packageName}.entity.${moduleName}.${ClassName};
#if($tableType=="tree")
import com.jeeagile.frame.service.IAgileTreeService;
#set($BaseService="IAgileTreeService")
#elseif($tableType=="crud")
import com.jeeagile.frame.service.IAgileBaseService;
#set($BaseService="IAgileBaseService")
#end

/**
 * @author ${author}
 * @date ${datetime}
 * @description ${functionName} Service接口
 */
public interface I${ClassName}Service extends $BaseService<${ClassName}>  {

}
