package ${packageName}.service.${moduleName};

import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.jeeagile.core.protocol.annotation.AgileService;
import com.jeeagile.core.util.AgileStringUtil;
import ${packageName}.entity.${moduleName}.${ClassName};
import ${packageName}.mapper.${moduleName}.${ClassName}Mapper;
#if($tableType=="tree")
    #set($BaseServiceImpl="AgileTreeServiceImpl")
import com.jeeagile.frame.service.AgileTreeServiceImpl;
#elseif($tableType=="crud")
    #set($BaseServiceImpl="AgileBaseServiceImpl")
import com.jeeagile.frame.service.AgileBaseServiceImpl;
#end

/**
 * @author ${author}
 * @date ${datetime}
 * @description ${functionName} 业务处理层
 */
@AgileService
public class ${ClassName}ServiceImpl extends ${BaseServiceImpl}<${ClassName}Mapper, ${ClassName}>  implements I${ClassName}Service {
    /**
    * 拼装查询条件
    */
    @Override
    public LambdaQueryWrapper<${ClassName}> queryWrapper(${ClassName} ${className}) {
        LambdaQueryWrapper<${ClassName}> lambdaQueryWrapper = new LambdaQueryWrapper<>();
        if (${className} != null) {
#foreach($column in $columnList)
#set($queryType=$column.queryType)
#set($javaField=$column.javaField)
#set($javaType=$column.javaType)
#set($columnName=$column.columnName)
#set($JavaField=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#if($column.queryFlag=="1")
#if($column.queryType == "EQ")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.eq(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "NE")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.ne(${ClassName}::get$JavaField, ${className}.get$JavaField());
             }
#elseif($queryType == "GT")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.gt(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "GE")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.ge(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "LT")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.lt(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "LE")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.le(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "LIKE")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.like(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "LIKE_LEFT")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.likeLeft(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "LIKE_RIGHT")
            if (AgileStringUtil.isNotEmpty(${className}.get$JavaField())) {
                lambdaQueryWrapper.likeRight(${ClassName}::get$JavaField, ${className}.get$JavaField());
            }
#elseif($queryType == "BETWEEN")

#end
#end
#end
        }
        return lambdaQueryWrapper;
    }
}
